.item img {
    height:40px !important;
    width:40px !important;
}

.logo-holder {
    padding: 5px !important;
}

.logo-holder:hover {
    background: transparent !important;
}

.menu {
    border-radius: 0px !important;
    padding: 5px;
}

.menu-container {
    border-radius: 0px !important;
}

.inblock {
    display: inline-block !important;
}

.ui.secondary.inverted.pointing.menu .active.item {
    border-color: #000 !important;
}
.user-options:hover{
    background: transparent !important;
}