.auth-form{
    width:340px;
    margin: 0 auto 0 auto;
}

.auth-form-header {
    margin-bottom: 15px;
    color: #333;
    text-align: center;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.auth-form-header h1{
    font-size: 24px;
    color: black;
    font-weight: 300;
    letter-spacing:  -0.5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.auth-form-body {
    padding: 20px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #d8dee2;
    border-radius: 4px;
}


.auth-form-body button{
    width: 100%;
}

.register-callout {
    padding: 15px 20px 15px 20px;
    text-align: center;
    border: 1px solid #d8dee2;
    border-radius: 5px;
}

.ng-valid[required], .ng-valid.required input {
    border: 1px solid #42A948 !important; /* green */
}
.ng-invalid.ng-dirty:not(form) {
    border: 1px solid #a94442 !important; /* red */ 
}
.ui.form .warning.message, .ui.form {
display: block;
}  
.ui.input.error input { 
    background-color: #fff6f6 !important; 
    border-color: #e0b4b4 !important; 
}

.ui.container.login {
    margin-top: 5em;
}
.alternative-signin {
    background-color: #fff;
    margin: 16px 0 16px 0; 
    border-radius:5px; 
    border: 1px solid #d8dee2;
    padding: 10px 0 15px 0;
}
.social-buttons {
    margin: 10px 0 0px 0;
}
.social-buttons a {
    margin: 0 1em 0 1em;
}

.mt-3 {
    margin-top: 16px !important;
}
.width-full {
    width: 100% !important;
}
.height-full {
    height: 100% !important;
}