<div class="ui container">
  <form class="ui form" [formGroup]="organizationForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label>Name
        <span style="color: red">*</span>
      </label>
      <div class="ui left icon input org-name">
        <input type="text" placeholder="e.g. Savvy Inc" formControlName="name">
        <i class="building outline icon org-icon"></i>
      </div>
      <div *ngIf="response['HasError'] && (organizationForm.get('name').dirty || organizationForm.get('name').touched)" class="ui left red basic label"
        style="float:right; margin-top:2px">
        Organization already exists
      </div>
    </div>

    <div class="field">
      <label>Type</label>
      <div class="ui right aligned fluid search typesearch">
        <div class="ui left icon input">
          <input class="prompt" type="text" formControlName="type" placeholder="e.g. Non government">
          <i class="puzzle icon"></i>
        </div>
        <div class="results"></div>
      </div>
    </div>
    <div class="field">
      <label>Address</label>
      <div class="fields">
        <div class="four wide field">
          <div class="ui left icon input">
            <input type="text" formControlName="address_1" />
            <i class="map pin icon"></i>
          </div>
        </div>
        <div class="twelve wide field">
          <div class="ui left icon input">
            <input type="text" formControlName="address_2" />
            <i class="map signs icon"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="fields">
      <div class="eight wide field">
        <label>City
          <span style="color: red">*</span>
        </label>
        <div class="ui left icon input">
          <input type="text" formControlName="city" />
          <i class="map outline icon"></i>
        </div>
      </div>
      <div class="eight wide field">
        <label>Province
          <span style="color: red">*</span>
        </label>
        <div class="ui left icon input">
          <input type="text" formControlName="province" />
          <i class="map icon"></i>

        </div>
      </div>
    </div>
    <div class="field">
      <label>Country
        <span style="color: red">*</span>
      </label>
      <div class="ui left icon input">
        <input type="text" formControlName="country" />
        <i class="flag outline icon"></i>
      </div>
    </div>
  </form>


  <!--

  <div class="ui search">
    <div class="ui left icon input">
      <input class="prompt" type="text" placeholder="Address">
      <i class="google icon"></i>
    </div>
  </div>
-->

</div>