<h2 class="ui dividing header">
  <div class="content">
    {{org['name']}}
    <div class="sub header">{{org['country']}}</div>
  </div>
</h2>

<div class="ui stackable grid" style="margin:0px; padding:0px">
  <div class="eleven wide column" style="padding:0px">
    <app-contacts-user></app-contacts-user>
  </div>
  <div class="five wide column" style="padding:0 0 0 10px">
    <div class="ui segment width-full">
      <div class="ui items">
        <div class="item" *ngIf="org['type'] !== 'null'">
          <div class="content">
            <span class="header">Type</span>
            <div class="meta">
              <span>{{org['type']}}</span>
            </div>
          </div>
        </div>
        <div class="item" *ngIf="org['address_1'] !== 'null'">
          <div class="content">
            <span class="header">Address</span>
            <div class="meta">
              <span>{{org['address_1']}} {{org['address_2']}}</span>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="content">
            <span class="header">City</span>
            <div class="meta">
              <span>{{org['city']}}</span>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="content">
            <span class="header">Province</span>
            <div class="meta">
              <span>{{org['province']}}</span>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="content">
            <span class="header">Country</span>
            <div class="meta">
              <span>{{org['country']}}</span>
            </div>
          </div>
        </div>
        <div class="item">
          <a (click)="editOrg(org['_id'])" style="cursor:pointer" *ngIf="isUser">Edit details</a>
        </div>
        <div class="item">
          <a (click)="showApprove('delete',org['_id'], org['name'])" style="cursor:pointer" *ngIf="isUser">Remove organization</a>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="ui tiny modal approvalDelete">
  <div class="header">{{approvesmodal['headers']}}</div>
  <div class="content">
    <p>{{approvesmodal['texts']}}</p>
  </div>
  <div class="actions">
    <button class="ui positive right labeled icon button deleteorgbtn" (click)="delete(approvesmodal['delete_org_ids'])">
      Approve
      <i class="remove icon"></i>
    </button>

    <button class="ui cancel button black">Cancel</button>
  </div>
</div>


<div class="ui tiny modal organization_edit">
  <div class="header">
    Edit organization
  </div>
  <div>
    <div class="ui grid container" style="margin:0px !important">
      <div class="sixteen wide column" style="padding:20px;">
        <app-organizationform class="inverted"></app-organizationform>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Cancel
    </div>
    <button class="ui positive right labeled icon button submitorg" [disabled]="this.orgform.invalid" (click)="submitEditOrg()">
      Save
      <i class="save icon"></i>
    </button>
  </div>
</div>
