<div class="ui container">
  <div class="ui grid" style="margin:0">
    <div class="row" style="padding-top:0px">
      <div class="ui borderless menu width-full" style="padding:0">

        <div class="item">
          <a class="ui right labeled teal icon button" routerLink="/organizations" title="View all organizations">
            View all organizations
            <i class="list icon"></i>
          </a>
        </div>
        <div class="right menu">
          <div class="item">
            <button class="ui right labeled green icon button" (click)="addOrg()" title="Create new organization"  *ngIf="isUser">
              Add organization
              <i class="add square icon"></i>
            </button>
          </div>
          <div class="item">
            <button class="ui right labeled yellow icon button" (click)="printpdf()" title="Create new organization">
              Print
              <i class="print icon"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui basic segment" style="padding:0px">
    <table class="ui celled table" datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions">
      <thead>
        <tr>
          <th>Organization</th>
          <th>City</th>
          <th>Province</th>
          <th>Country</th>
          <th *ngIf="isUser" class="collapsing">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let org of organizationList" class="me">
          <td>
            <a routerLink="{{org['_id']}}">{{org['name']}}
            </a>
          </td>
          <td>{{org['city']}}</td>
          <td>{{org['province']}}</td>
          <td>{{org['country']}}</td>
          <td class="collapsing" *ngIf="isUser">
            <button class="ui icon basic button" title="Remove" (click)="showApprove('delete',org['_id'], org['name'])">
              <i class="remove red icon"></i>
            </button>
            <a class="ui icon basic button" title="Modify" (click)="editOrg(org['_id'])" *ngIf="org['user_id'] === user['id']">
              <i class="write green icon"></i>
            </a>
          </td>
        </tr>

      </tbody>
    </table>
    <div class="ui  inverted dimmer">
      <div class="ui text loader">Fetching some fresh goods</div>
    </div>
  </div>
</div>


<div class="ui tiny modal organization">
  <div class="header">
    Add organization
  </div>
  <div>
    <div class="ui grid container" style="margin:0px !important">
      <div class="sixteen wide column" style="padding:20px;">
        <app-organizationform class="inverted"></app-organizationform>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Cancel
    </div>
    <button class="ui positive right labeled icon button submitorg" [disabled]="!disablebutton" (click)="submitOrg()">
      Add
      <i class="send icon"></i>
    </button>
  </div>
</div>

<div class="ui tiny modal organization_edit">
  <div class="header">
    Edit organization
  </div>
  <div>
    <div class="ui grid container" style="margin:0px !important">
      <div class="sixteen wide column" style="padding:20px;">
        <app-organizationform class="inverted"></app-organizationform>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Cancel
    </div>
    <button class="ui positive right labeled icon button submitorg" [disabled]="!disablebutton" (click)="submitEditOrg()">
      Save
      <i class="save icon"></i>
    </button>
  </div>
</div>

<div class="ui tiny modal approval-modal-org">
  <div class="header">{{approvemodal['header']}}</div>
  <div class="content">
    <p>{{approvemodal['text']}}</p>
  </div>
  <div class="actions">
    <button class="ui positive right labeled icon button deleteorg" (click)="delete(approvemodal['delete_org_id'])">
      Approve
      <i class="remove icon"></i>
    </button>

    <button class="ui cancel button black">Cancel</button>
  </div>
</div>
