<div class="ui container" style="margin-top:50px; margin-bottom:50px">

  <div class="ui segment">

    <div class="ui basic segment" style="margin-top:0px">
      <div class="ui borderless secondary menu">
        <div class="item">
          <button class="ui icon right labeled button yellow print_btn" data-content="Print" (click)="printpdf()">
            Print
            <i class="print icon"></i>
          </button>
        </div>
      </div>
      <table id="organizations_table" class="ui celled table" datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions">
        <thead>
          <tr>
            <th>Organization</th>
            <th>City</th>
            <th>Province</th>
            <th>Country</th>
            <th class="collapsing" *ngIf="showactions" id="org_actions_header">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let org of organizationList">
            <td>
              <a routerLink="{{org._id}}">{{org.name}}

              </a>
            </td>
            <td>
              {{org.city}}
            </td>
            <td>{{org.province}}</td>
            <td>{{org.country}}</td>
            <td class="collapsing org_actions_body">
              <button class="ui icon button contribute_btn teal" data-content="Contribute to this organization" (click)="contribute(org._id, org.name)">
                <i class="check square icon"></i>
              </button>
            </td>
          </tr>
          <tr *ngIf="organizationList?.length == 0">
            <td colspan="5" class="no-data-available">No results available</td>
          </tr>
        </tbody>
      </table>
      <div class="ui  inverted dimmer">
        <div class="ui text loader">Fetching some fresh goods</div>
      </div>
    </div>
  </div>
</div>

<div class="ui basic tiny modal" id="contributeModal">
  <div class="ui icon header">
    <i class="check square icon"></i>
    Manage Contributions
  </div>
  <div class="content center aligned middle aligned">
    <p>You have been added to the
      <b>contributor</b> list of
      <b>{{contribution['org_name']}}</b>.</p>
    <p>Would like to manage your contributions?</p>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      No
    </div>
    <a class="ui green inverted button" href="/contributions/{{user['username']}}/organizations/{{contribution['org_id']}}">
      <i class="checkmark icon"></i>
      Yes
    </a>
  </div>
</div>

<div class="ui basic tiny modal" id="contributeModal_fail">
  <div class="ui icon header">
    <i class="check square icon"></i>
    Manage Contributions
  </div>
  <div class="content center aligned middle aligned">
    <p>You are already a
      <b>contributor</b> of
      <b>{{contribution['org_name']}}</b>.</p>
    <p>Would like to manage your contributions?</p>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      No
    </div>
    <a class="ui green inverted button" href="/contributions/{{user['username']}}/organizations/{{contribution['org_id']}}">
      <i class="checkmark icon"></i>
      Yes
    </a>
  </div>
</div>
