.stack_1 {
    padding: 20px 0px 20px 0;
    /* github black background: #2b3137; */
    background: #e0a536;
    min-height: 500px;
}

.stack_2 {
    padding: 20px 0px 20px 0;
    /* github black background: #2b3137; */
    background: #ffffff;
    min-height: 500px;
}

