<div class="stack_1" *ngIf="!isLoggedIn">
  <div class="ui container" style="margin-top:50px">
    <div class="ui grid">
      <div class="row">
        <div class="one wide column"></div>
        <div class="fourteen wide column">
          <div class="ui grid stackable">
            <div class="row">
              <div class="ten wide column equal height">
                <div class="ui segments" style="border: none !important; box-shadow: none !important">
                  <div class="ui segment block" style="height:300px" style="background: transparent !important; border: none !important;">
                    <h1 class="alt-h0 text-white lh-condensed-ultra mb-3">
                      Linking you to the people you need.
                    </h1>
                    <p class="alt-lead mb-4 text-white">
                      Savvylinks is a database of organizations we have connections to. We make it easier for you to get to the people you need.
                    </p>
                  </div>
                </div>
              </div>
              <div class="six wide column equal height">
                <app-login-addon></app-login-addon>
              </div>
            </div>
          </div>
        </div>
        <div class="one wide column"></div>
      </div>
    </div>
  </div>
</div>
<div class="stack_2" *ngIf="!isLoggedIn">
  <div class="ui container" style="margin-top:50px; margin-bottom: 100px">
    <div class="ui grid">
      <div class="row">
        <div class="one wide column"></div>
        <div class="fourteen wide column">
          <div class="ui grid stackable">
            <div class="row">
              <div class="two wide column"></div>
              <div class="twelve wide column equal height center aligned middle aligned">
                <div class="ui segments" style="border: none !important; box-shadow: none !important">
                  <div class="ui segment block" style="height:300px" style="background: transparent !important; border: none !important;">
                    <p class="alt-lead mb-4" style="font-size:25px">
                      Community
                    </p>
                    <h1 class="alt-h0 lh-condensed-ultra mb-3" style="margin-top: 50px">
                      By Sherpas for Sherpas
                    </h1>
                    <p class="alt-lead mb-4" style="margin-top: 60px; font-size: 30px">
                      We are a community based compilation of contact persons shared by our fellow Sherpas.
                    </p>
                  </div>
                </div>
              </div>
              <div class="two wide column"></div>
            </div>
          </div>
        </div>
        <div class="one wide column"></div>
      </div>
    </div>
  </div>
</div>
