
<div class="ui container">
  <form class="ui form">
    <div class="field">
      <label>Type</label>
      <div class="ui right aligned fluid search">
        <div class="ui left icon input">
          <input class="prompt" type="text" placeholder="e.g. Non government">
          <i class="puzzle icon"></i>
        </div>
        <div class="results"></div>
      </div>
    </div>
    <div class="field">
      <label>Address</label>
      <div class="fields">
        <div class="four wide field">
          <div class="ui left icon input">
            <input type="text"/>
            <i class="map pin icon"></i>
          </div>
        </div>
        <div class="twelve wide field">
          <div class="ui left icon input">
            <input type="text" />
            <i class="map signs icon"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="fields">
      <div class="eight wide field">
        <label>City

        </label>
        <div class="ui left icon input">
          <input type="text" />
          <i class="map outline icon"></i>
        </div>
      </div>
      <div class="eight wide field">
        <label>Province
         
        </label>
        <div class="ui left icon input">
          <input type="text"/>
          <i class="map icon"></i>

        </div>
      </div>
    </div>
    <div class="field">
      <label>Country

      </label>
      <div class="ui left icon input">
        <input type="text" />
        <i class="flag outline icon"></i>
      </div>
    </div>
  </form>
  </div>