<h2 class="ui dividing header">
  <div class="content">
    {{org['name']}}
    <div class="sub header">{{org['country']}}</div>
  </div>
</h2>

<div class="ui stackable grid" style="margin:0px; padding:0px">
  <div class="eleven wide column" style="padding:0px">
    <mat-card style="padding: 10px 24px 10px 24px; margin-bottom:1em">
      <mat-card-content style="font-size:15px; font-weight: 500">
        List of Contacts for {{org_name}} connected with {{contributor?.name}}
      </mat-card-content>
    </mat-card>
    <div class="savtimetrackertable-container mat-elevation-z8">
      <div class="savtimetrackertable-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      </div>

      <div class="savtimetrackertable-header">
        <mat-form-field>
          <input matInput (keyup)="searchTrigger.next($event.target.value)" placeholder="Search">
        </mat-form-field>
        <button class="ui blue icon button" (click)="dialogTrigger.next()">
          <i class="refresh icon"></i>
        </button>
        <button class="ui yellow icon button" (click)="printpdf()" title="Print">
          <i class="print icon"></i>
        </button>
        <button class="ui green button" *ngIf="isUser" (click)="addContact()">Create</button>
      </div>

      <mat-table #table [dataSource]="dataSource" class="savtimetrackertable-table" matSort matSortActive="con.ContactPosition"
        matSortDisableClear matSortDirection="asc">

        <ng-container matColumnDef="con.ContactPosition">
          <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">
            Position
          </mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.position }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="con.ContactName">
          <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">
            Name
          </mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="org.OrganizationName">
          <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">
            Organization
          </mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.organization.org_name }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="u.UserGivenName">
          <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">
            Contributor
          </mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.user.displayname }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef disableClear="true">
            Actions
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button class="ui icon basic button" title="Modify" (click)="editContact(row._id)">
              <i class="write green icon"></i>
            </button>
            <button class="ui icon basic button" title="Remove" (click)="deleteApprove(row._id)">
              <i class="remove red icon"></i>
            </button>
          </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator #paginator [length]="resultsLength" [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]">
      </mat-paginator>
    </div>



  </div>
  <div class="five wide column" style="padding:0 0 0 10px">
    <div class="ui segment width-full">
      <div class="ui items">
        <div class="item" *ngIf="org['type'] !== 'null'">
          <div class="content">
            <span class="header">Type</span>
            <div class="meta">
              <span>{{org['type']}}</span>
            </div>
          </div>
        </div>
        <div class="item" *ngIf="org['address_1'] !== 'null'">
          <div class="content">
            <span class="header">Address</span>
            <div class="meta">
              <span>{{org['address_1']}} {{org['address_2']}}</span>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="content">
            <span class="header">City</span>
            <div class="meta">
              <span>{{org['city']}}</span>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="content">
            <span class="header">Province</span>
            <div class="meta">
              <span>{{org['province']}}</span>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="content">
            <span class="header">Country</span>
            <div class="meta">
              <span>{{org['country']}}</span>
            </div>
          </div>
        </div>
        <div class="item">
          <a (click)="editOrg(org['_id'])" style="cursor:pointer" *ngIf="isUser">Edit details</a>
        </div>
        <div class="item">
          <a (click)="showApprove('delete',org['_id'], org['name'])" style="cursor:pointer" *ngIf="isUser" (click)="showApprove()">Remove organization</a>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="ui tiny modal approvalDelete">
  <div class="header">Delete Organization</div>
  <div class="content">
    <p>Are you sure you want to remove {{org_name}}?</p>
    <p>Your contacts for this organization will be deleted as well.</p>
  </div>
  <div class="actions">
    <button class="ui cancel button black">Cancel</button>
    <button class="ui positive right labeled icon button deleteorgbtn" (click)="delete(org_id)">
      Approve
      <i class="remove icon"></i>
    </button>


  </div>
</div>


<div class="ui tiny modal organization_edit">
  <div class="header">
    Edit organization
  </div>
  <div>
    <div class="ui grid container" style="margin:0px !important">
      <div class="sixteen wide column" style="padding:20px;">
        <form class="ui form" [formGroup]="organizationform">
          <div class="field">
            <label>Name
              <span style="color: red">*</span>
            </label>
            <div class="ui left icon input org-name">
              <input type="text" placeholder="e.g. Savvy Inc" formControlName="name">
              <i class="building outline icon org-icon"></i>
            </div>
          </div>
          <div class="field">
            <label>Type</label>
            <div class="ui right aligned fluid search typesearch">
              <div class="ui left icon input">
                <input class="prompt" type="text" formControlName="type" placeholder="e.g. Non government">
                <i class="puzzle icon"></i>
              </div>
              <div class="results"></div>
            </div>
          </div>
          <div class="field">
            <label>Address</label>
            <div class="fields">
              <div class="four wide field">
                <div class="ui left icon input">
                  <input type="text" formControlName="address_1" />
                  <i class="hashtag icon"></i>
                </div>
              </div>
              <div class="twelve wide field">
                <div class="ui left icon input">
                  <input type="text" formControlName="address_2" />
                  <i class="map signs icon"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="fields">
            <div class="eight wide field">
              <label>City
                <span style="color: red">*</span>
              </label>
              <div class="ui left icon input">
                <input type="text" formControlName="city" />
                <i class="map outline icon"></i>
              </div>
            </div>
            <div class="eight wide field">
              <label>Province
                <span style="color: red">*</span>
              </label>
              <div class="ui left icon input">
                <input type="text" formControlName="province" />
                <i class="map icon"></i>
              </div>
            </div>
          </div>
          <div class="field">
            <label>Country
              <span style="color: red">*</span>
            </label>
            <div class="ui left icon input">
              <input type="text" formControlName="country" />
              <i class="flag outline icon"></i>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Cancel
    </div>
    <button class="ui positive right labeled icon button submitorg" [disabled]="organizationform.invalid" (click)="submitEditOrg()">
      Save
      <i class="save icon"></i>
    </button>
  </div>
</div>




<div class="ui mini modal edit_contact">
  <div class="header">
    Edit Contact
  </div>
  <div>
    <div class="ui grid container" style="margin:0px !important">
      <div class="sixteen wide column" style="padding:20px;">
        <div class="ui container">
          <form class="ui form" [formGroup]="contact">
            <div class="field">
              <label>Position
                <span style="color:red">*</span>
              </label>
              <input type="text" placeholder="e.g. CEO" formControlName="position" />
            </div>
            <div class="field">
              <label>Name</label>
              <input type="text" placeholder="Contact person name." formControlName="name" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui deny black button">
      Cancel
    </div>
    <button class="ui positive right labeled icon button" (click)="submitEditContact()">
      Save
      <i class="save icon"></i>
    </button>
  </div>
</div>

<div class="ui mini modal contacts">
  <div class="header">
    Add contact
  </div>
  <div>
    <div class="ui grid container" style="margin:0px !important">
      <div class="sixteen wide column" style="padding:20px;">
        <div class="ui container">
          <form class="ui form" [formGroup]="contact">
            <div class="field">
              <label>Position
                <span style="color:red">*</span>
              </label>
              <input type="text" placeholder="e.g. CEO" formControlName="position" />
            </div>
            <div class="field">
              <label>Name</label>
              <input type="text" placeholder="Contact person name." formControlName="name" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui deny black button">
      Cancel
    </div>
    <button class="ui positive right labeled icon button" (click)="submitContact()">
      Add
      <i class="send icon"></i>
    </button>
  </div>
</div>

<div class="ui tiny modal delete_contact">
  <div class="header">Remove contact</div>
  <div class="content">
    <p>Are you sure you want to remove this contact from the list?</p>
  </div>
  <div class="actions">
    <button class="ui cancel button black">Cancel</button>
    <button class="ui approve green right labeled icon button deleteapproveBtn" (click)="delete_contact(selected_contact_id)">
      Approve
      <i class="remove icon"></i>
    </button>

  </div>
</div>
