<div style="background: #24292e">
  <div class="ui container stackable grid">
    <div class="five wide column">
      <h3 class="ui header">
        <div class="content text-white">Savvylink</div>
        <div class="sub header text-white">© 2018</div>
      </h3>
    </div>
    <div class="eleven wide column text-white" style="text-align:right">


      Comments and suggestions? Contact
      <a class="ui label teal" href="mailto:jclarino@savvysherpa.com">
        jclarino@savvysherpa.com
      </a>

      <div class="ui label blue">
        Visitors
        <div class="detail">{{hits}}</div>
      </div>

    </div>
  </div>
</div>
