<div class="ui segment height-full">
  <div *ngIf="response['HasError']" class="ui mini message warning">
    <div class="header">{{response['Error']}}</div>
  </div>
  <form class="ui form" [formGroup] = "loginForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label>Email Address</label>
      <input type="text" placeholder="you@example.com" email formControlName="email">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" placeholder="Password" formControlName="password">
    </div>
    <button class="ui button teal width-full mt-3" type="submit" [disabled]="loginForm.invalid">Sign In</button>
  </form>
  <a class="ui button labeled icon linkedin mt-3 width-full bottom attached" href="{{auth.linkedinUrl}}">
    <i class="linkedin icon"></i>
    Login with LinkedIn
  </a>
</div>